* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

div {
    width: 1000px;
    align-content: center;
    text-justify: auto;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

img {
    width: 50%;
    border: 5px solid black;
}